<!DOCTYPE html>
<html>
  <head>
    <title>Juleseminar 2015</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <meta charset="utf-8" />
    <style>
     .roofpig { width: 350px; height: 410px; }
    </style>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
