<script>
 ROOFPIG_CONF_ALL = "hover=near";
 ROOFPIG_CONF_REF = "base=ALL|colored=*/m";
 ROOFPIG_CONF_CROSS = "base=ALL|colored=D*/e */m|pov=Dbl";
 ROOFPIG_CONF_CORNERS = "base=ALL|solved=D*/e|colored=*/m DFR DFL DBR";
 ROOFPIG_CONF_EDGES = "base=ALL|solved=D*/e DFR DFL DBR|colored=UD- */m";
 ROOFPIG_CONF_F2L = "base=ALL|solved=U-/e DFL DBR DBL|colored=DFR */m";
 ROOFPIG_CONF_OLL = "base=OLL|solved=U-|colored=u";
 ROOFPIG_CONF_PLL = "base=OLL|solved=U- u|colored=uF uFR uR uBR uB uBL uL uFL";
</script>

<h1>The reference frame</h1>

<table>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=REF">
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=ALL|colored=*/m UR|alg=U'">
      </div>
    </td>
  </tr>
</table>

<h1>The cross</h1>

<table>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=CROSS">
        Objective
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=CROSS|alg=B2">
        Simple insertion
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=CROSS|alg=B L' B'">
        Inverted insertion
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=CROSS|alg=D2 L' D2">
        Rotate white
      </div>
    </td>
  </tr>
</table>

<h1>Three corners</h1>

<table>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=CORNERS|pov=Ubl">
        Objective
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=CORNERS|alg=R U R'">
        Insertion on the right
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=CORNERS|alg=F' U' F">
        Insertion on the left
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=CORNERS|alg=R U' R' U2 R U R'">
        Insertion upside down
      </div>
    </td>
  </tr>
</table>

<h1>Four edges</h1>

<table>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=EDGES|pov=Ubl">
        Objective
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=EDGES|alg=D2 R U' R' D2'">
        Insertion on the right
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=EDGES|alg=D2 F' U F D2'">
        Insertion on the left
      </div>
    </td>
  </tr>
</table>

<h1>Last corner</h1>

<table>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=F2L">
        Objective
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=F2L|alg=U F' U F U2' F' U F">
        Insertion on the right
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=F2L|alg=U' R U' R' U2 R U' R'">
        Insertion on the left
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=F2L|alg=R U' R' U R U' R' U R U' R' U">
        Insertion upside down (3x repeat)
      </div>
    </td>
  </tr>
</table>

<h1>Orienting</h1>

<table>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=OLL">
        Objective
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=OLL|colored=u/em|alg=F U R U' R' F'">
        Flip two edges
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=OLL|alg=R U R' U R U2 R'">
        Rotate three corners
      </div>
    </td>
  </tr>
</table>

<h1>Permuting</h1>

<table>
  <tr>
    <td>
      <div class="roofpig"
           data-config="base=PLL">
        Objective
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=PLL|alg=M D2 M' U' M D2 M' U M D2 M'">
        Edge cycle
      </div>
    </td>
    <td>
      <div class="roofpig"
           data-config="base=PLL|alg=R' D2 R U' R' D2 R U R' D2 R">
        Corner cycle
      </div>
    </td>
  </tr>
</table>
